@model List<Carro>
<h2>Carros Disponíveis</h2>

<form>
    <div class="input-group mb-3" style="width: 50%">
        <input type="text" name="search" class="form-control" placeholder="Buscar" aria-label="Buscar ID" aria-describedby="button-addon2">
        <input type="submit" class="btn btn-outline-secondary" id="button-addon2" value="Buscar!" />
    </div>
</form>

<div class="btn-group">
    <a class="btn btn-primary" asp-area="" asp-controller="Carro" asp-action="Create" role="button">Cadastrar Novo Carro</a>
    @if (ViewBag.msg != "")
        {
            <div class="alert alert-success" role="alert">
            @ViewBag.msg
            </div>
        }
    @if (ViewBag.ordenado == true)
        {
            <a class="btn btn-info" asp-controller="Carro" asp-action="Index">Retornar Ordenação</a> 
        }
    else
        { 
            <a class="btn btn-info" href="?ordena=sim">Ordenar por Preço</a>
        }
    <br /><br />
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (Carro c in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@Html.DisplayFor(Model => c.url1)" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(Model => c.modelo)</h5>
                <p class="card-text">@Html.DisplayFor(Model => c.descricao)</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Marca:  </b>@Html.DisplayFor(Model => c.marca)</li>
                <li class="list-group-item"><b>Ano:  </b>@Html.DisplayFor(Model => c.ano)</li>
                <li class="list-group-item"><b>Preço:  </b>@Html.DisplayFor(Model => c.preco)</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-outline-info" asp-controller="Carro" asp-action="Read" asp-route-id="@c.id" role="button">Visualizar</a>
            </div>
        </div>
    }
</div>

<a class="btn btn-primary" asp-area="" asp-controller="Carro" asp-action="Create" role="button">Cadastrar Novo Carro</a>